$primary: #f9fafb;
$secondary: #ffffff;
$text: rgba(68,68,68,1);
$title: black;
$sub: rgba(136,136,136,1);
$accent: #79d6d6;
$border:rgba(234,234,234,1);
$horde: rgb(253, 77, 77);
$alliance: rgb(59, 130, 246);

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  background:$primary;
  color:$text;
}
.title{
  color:$title;
  font-size:1.5em;
  font-weight:700;
  margin-bottom:1rem;
}
.page{
  max-width:880px;
  width:100%;
  margin:2rem auto;
  padding:2rem;
}
.grid{
  width:100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap:1em;
}
.grid-item{
  padding:1rem;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position:relative;
  background: linear-gradient(white, white) padding-box,
  linear-gradient($border,$border) border-box;
  border-width:1px;
  border-style:solid;
  border-color:transparent;
  border-radius:.5rem;
  ul {
    list-style:none;
    text-align:center;
    li {
      &.alliance{
        color:$alliance;
      }
      &.horde{
        color:$horde;
      }
    }
  }
  &.active{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg,$alliance,$horde) border-box;
    img{
      filter: grayscale(0%);
    }
  }
  img{
    height:25px;
    filter: grayscale(100%);
    width:25px;
  }
  h3{
    font-size: 1.3rem;
    color:$title;
    margin:.333rem 0;
  }
  &:hover{
    cursor:pointer;
  }
}
.slider{
  max-width:770px;
  width:100%;
  margin:1rem 0;
}
.week{
  flex-direction:column;
  width:100%;
  display:flex;
  margin:1rem 0;
  .index {
    margin-right:1rem;
    font-size:1em;
    font-weight:700;
    color:rgba(136,136,136,1);
  }
  .week-table{
    width:100%;
    display:flex;
    .table-item{
      align-items: center;
      display:flex;
      flex:1;
    }
  }
}
.week-item{
  align-items: center;
  display:flex;
  padding:1rem 0;
  border-bottom:1px solid $border;
}

.header{
  margin:0 0 2rem 0;
  h1{
    color:$title;
    font-size:2.5em;
    font-weight:700;
  }
  p{
    color:$text;
    letter-spacing:.3px;
    font-weight:500;
    margin-top:1rem;
    font-size:1em;
  }
}

button{
  width: fit-content;
  background:transparent;
  border:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:600;
  font-size:.9em;
  outline:0;
  background:$border;
  border-radius:6px;
  width:auto;
  color:$text;
  padding:6px 12px;
  background: linear-gradient($primary, $primary) padding-box,
  linear-gradient(45deg,$alliance,$horde) border-box;
  border-width:1px;
  border-style:solid;
  border-color:transparent;
  border-radius:.5rem;
  position:relative;
  transition: transform .15s cubic-bezier(0.39, 0.575, 0.565, 1);
  &:hover{
    cursor:pointer;
    transform:scale(1.1)
  }
}